In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/marketing_campaign.csv")

In [3]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [4]:
df.shape

(2240, 29)

In [5]:
import os
from pandas import DataFrame
from tqdm import tqdm
from typing import Dict
from customer_segmentation.configuration import mongo_client
from customer_segmentation.constant.database import DATABASE_NAME, COLLECTION_NAME
from pymongo import MongoClient
from dotenv import load_dotenv

load_dotenv()

True

In [ ]:
# database url
url = os.getenv("MONGO_DB_URL")
# data base cursor
client = MongoClient(url)
# database name
db = client["rahul"]
# collection name
collection = db["customer_segmentation"]
# fetching one data
collection.insert_one(df.loc[0].to_dict())

## component -> data_pusher.py

In [11]:
class DataPusher:

    def __init__(self, df: DataFrame, mongo_client: MongoClient, database_name: str, collection_name: str):
        self.df = df
        self.client = mongo_client
        self.database_name = database_name
        self.collection_name = collection_name
        self.db = self.client[self.database_name]
        self.collection = self.db[self.collection_name]

    def push_data(self):
        for _, row in tqdm(self.df.iterrows(), desc="Records Fetching"):
            self.collection.insert_one(row.to_dict())

    def get_data(self, query):
        self.collection.find_one(query)

In [12]:
data_pusher = DataPusher(df, MongoClient(os.getenv("MONGO_DB_URL")), DATABASE_NAME, COLLECTION_NAME)

In [13]:
data_pusher.push_data()

Records Fetching: 0it [00:00, ?it/s]

Records Fetching: 2240it [00:44, 50.08it/s]